@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: "DM Sans", sans-serif;
    box-sizing: border-box;
}

body{
    width: 100vw;
    box-sizing: border-box;
    overflow-x: hidden;
}

header{
    background-color: red;
    position: sticky;
    top: 0;
    left: 0;
}

nav{
    height: 70px;
    width: 100%;
}

main{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;

}

main section{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 50px;
}

main section form{
    display: flex;
    gap: 20px;
    flex-direction: column;
    width: 60%;
    box-sizing: border-box;
}

.container-title{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.title{
    font-size: 50px;
    color: #252525;
}

.subtitle{
    font-size: 20px;
    color: #525252;
}

.container-input{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.container-input input{
    padding: 12px;
    border-radius: 5px;
    border: 1px solid #252525;
}

.container-input input::placeholder{
    font-size: 20px;
}

textarea{
    color: black;
    padding: 10px;
    border-radius: 10px;
}

textarea::placeholder{
    font-size: 20px;
}

.container-btn{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    box-sizing: border-box;
}

.container-btn a{
    border: 1px solid black;
    padding: 15px;
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    text-decoration: none;
    color: black;
    border-radius: 10px;
}

.container-btn svg{
    height: 20px;
}

#images{
    display: none;
}

.label-file{
    margin-bottom: 10px;
}

label[for='images']{
    display: flex;
    height: 100px;
    border: 2px dashed #252525;
    width: 20%;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
    transition: .5s;
}

label[for='images']:hover{
    background-color: #252525;
    color: white;
}

label svg{
    height: 40px;
}


@media screen and (max-width:779px) {

    body{
        overflow-x: hidden;
    }

    main section{
        padding: 15px;
    }


    main section form{
        width: 100%;
        
    }

    .title{
        font-size: 30px;
    }

    label[for='images']{
        width: 80px;
        height: 80px;
    }
}