@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

*{
    padding: 0;
    margin: 0;
}

body{
    width: 100%;
}


aside{
    height: 100vh;
    width: 400px;
    position: fixed;
    top: 0;
    right: 0;
    box-sizing: border-box;
    padding: 15px;

}

.container-card-group{
    width: 100%;
    display: flex;
    gap: 10px;
    flex-direction: column;
    margin-top: 50px;
    box-sizing: border-box;
    padding: 5px;
}

.container-img{
    height: 150px;
    background-color: red;
    border-radius: 5px;
}

.container-title span{
    font-family: "DM Sans", sans-serif;
    font-weight: bold;
}

.container-description{
    font-family: "DM Sans", sans-serif;
}

.container-btn{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-btn a{
    width: 100%;
    padding: 8px;
    background-color: black;
    color: white;
    text-align: center;
    font-family: "DM Sans", sans-serif;
    text-decoration: none;
}




main{
    width: calc(100% - 400px);
}

.container-main-title{
    width: 100%;
    box-sizing: border-box;
}

.container-main-title .main-title{
    margin-left: 30px;
    font-size: 50px;
    font-family: "DM Sans", sans-serif;
}

.container-swiper{
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper{
    height: 500px;
    width: 800px;
    border: 2px solid black;
}

.container-infos{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 20px;
    font-family: "DM Sans", sans-serif;
    flex-wrap: wrap;
}

.info-user{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

}

.pp{
    height: 25px;
    width: 25px;
    background: red;
    border-radius: 5px;
}

.container-card{
    display: none;
}

.container-btns{
    display: flex;
    gap: 20px;
}

.container-btns a{
    color: black;
    text-decoration: none;
    font-family: "DM Sans", sans-serif;
    font-size: 20px;
}

.container-btns a:first-child {
  margin-left: 25px;
}

.container-dynamic{
    width: 100%;
    margin-top: 20px;
    box-sizing: border-box;
    padding: 30px;
    font-family: "DM Sans", sans-serif;
}



@media screen and (min-width:780px) and (max-width:1279px) {

    .swiper{
        height: 80%;
        width: 80%;
    }
    
}


@media screen and (max-width:779px) {
    aside{
        display: none;
    }

    main{
        width: 100%;
    }

    .swiper{
        width: 80%;
    }

    .container-card{
        height: 100px;
        width: 100%;
        background-color: red;
        display: flex;
    }
    
}